@page "/"
@page "/about"
@page "/о-школе"

<PageTitle>О школе</PageTitle>

<div class="about-content">
    <p class="about-text">Детская мотошкола спортивного мастерства с соревновательным уклоном.</p>
</div>