@page "/area"
@page "/площадка"

<PageTitle>Площадка</PageTitle>

<div class="area-content">
    <h1 class="area-title">Площадка</h1>
    <p class="area-description">Мы занимаемся на площадке мотошколы Дилижанс</p>
    
    <div class="area-gallery">
        <img src="area/area-1.jpg" alt="Площадка 1" class="area-photo" />
        <img src="area/area-2.jpg" alt="Площадка 2" class="area-photo" />
        <img src="area/area-3.jpg" alt="Площадка 3" class="area-photo" />
    </div>
</div>