@page "/equipment"
@page "/техника"

<PageTitle>Техника - ITNBaja</PageTitle>

<div class="equipment-content">
    <h1 class="equipment-title">Техника</h1>
    
    <div class="equipment-item">
        <img src="equipment/pw50.jpg" alt="Yamaha PW50" class="equipment-photo" />
        <h2 class="equipment-name">Yamaha PW50</h2>
    </div>
    
    <div class="equipment-item">
        <img src="equipment/pw80.jpg" alt="Yamaha PW80" class="equipment-photo" />
        <h2 class="equipment-name">Yamaha PW80</h2>
    </div>
    
    <div class="equipment-item">
        <img src="equipment/jmc.jpg" alt="JMC" class="equipment-photo" />
        <h2 class="equipment-name">JMC</h2>
    </div>
</div>