@page "/team"
@page "/команда"

<PageTitle>Команда</PageTitle>

<div class="team-content">
    <h1 class="team-title">Тренер</h1>
    
    <div class="team-section">
        <div class="team-member">
            <img src="Lead.png" alt="Илья Владимирович" class="member-photo" />
            <h3 class="member-name">Илья Владимирович</h3>
        </div>
    </div>

    <h1 class="section-title">Команда</h1>

    <div class="team-member">
        <img src="team/yar/yar-1.jpg" alt="Ярослав" class="member-photo" />
        <h2 class="member-name">Ярослав</h2>
    </div>
    
    <div class="team-member">
        <img src="team/den/den-1.jpg" alt="Денис" class="member-photo" />
        <h2 class="member-name">Денис</h2>
    </div>
</div>